pipeline/ChubDailyJob.json
{
	"name": "ChubDailyJob",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata Files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_GetFileNames",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@pipeline().parameters.ContainerSource",
								"type": "Expression"
							},
							"Folder": {
								"value": "@pipeline().parameters.FolderSource",
								"type": "Expression"
							},
							"FileName": {
								"value": "*.csv",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Files Available Or Not",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('Get Metadata Files').output.childItems), 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Wait for some time",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 20
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ContainerSource": {
				"type": "string",
				"defaultValue": "containerfiles"
			},
			"FolderSource": {
				"type": "string",
				"defaultValue": "inputsource/files"
			},
			"ContainerTarget": {
				"type": "string"
			},
			"FolderTarget": {
				"type": "string"
			}
		},
		"annotations": []
	}
}