pipeline/ChubDailyJob.json
{
	"name": "ChubDailyJob",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata Files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_GetFileNames",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@pipeline().parameters.ContainerSource",
								"type": "Expression"
							},
							"Folder": {
								"value": "@pipeline().parameters.FolderSource",
								"type": "Expression"
							},
							"FileName": {
								"value": "*.csv",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Files Available Or Not",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Metadata Files').output.exists, true)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Files Not Available",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"url": {
									"value": "https://prod-13.centralindia.logic.azure.com:443/workflows/585813d80b06425aa07b07ca8815d00e/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=bMraAaMH_qBoTYwmDEvGNpq5Z4fBQTPf2Aq8vbLDwdY",
									"type": "Expression"
								},
								"body": {
									"value": "{\n  \"subject\": \"No Files Found in ADLS\",\n  \"message\": \"No files were found in the source folder on @{utcNow()}.\"\n}\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Files Not Available So Job Fails",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "Files Not Available",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "Source Files Not Available",
									"type": "Expression"
								},
								"errorCode": {
									"value": "Files Not Available",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Wait for some time",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 20
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ContainerSource": {
				"type": "string",
				"defaultValue": "containerfiles"
			},
			"FolderSource": {
				"type": "string",
				"defaultValue": "inputsource/files"
			},
			"ContainerTarget": {
				"type": "string"
			},
			"FolderTarget": {
				"type": "string"
			}
		},
		"annotations": []
	}
}