pipeline/DailyJob.json
{
	"name": "DailyJob",
	"properties": {
		"activities": [
			{
				"name": "DS_Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_GetMetaData",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@pipeline().parameters.Container",
								"type": "Expression"
							},
							"Folder": {
								"value": "@pipeline().parameters.Folder",
								"type": "Expression"
							},
							"FileName": {
								"value": "@pipeline().parameters.FileName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Load Each File to Stg",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "DS_Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('DS_Get Metadata').output.childItems",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Container": {
				"type": "string",
				"defaultValue": "containerfiles"
			},
			"Folder": {
				"type": "string",
				"defaultValue": "inputsource/files"
			},
			"FileName": {
				"type": "string",
				"defaultValue": "*.csv"
			}
		},
		"annotations": []
	}
}