ADFChukkaGanesh/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADFChukkaGanesh"
		},
		"BlobStorage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'BlobStorage'"
		},
		"LS_blobstorage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_blobstorage'"
		},
		"LS_SQLServer_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQLServer'"
		},
		"LS_AzureKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://keyvaultcgy.vault.azure.net/"
		},
		"LS_SQLServer_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-8OTJPKL\\CHUKKASQLSERVER"
		},
		"LS_SQLServer_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "DFDB_DEV"
		},
		"LS_SQLServer_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sa"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Test Pipline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait just",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 10
						}
					},
					{
						"name": "Wait just_copy",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 10
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BlobStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('BlobStorage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('LS_AzureKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_blobstorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_blobstorage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SeilfHostedIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "SeilfHostedIR",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SelfHostedIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DeleteSourceFiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_blobstorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container": {
						"type": "string"
					},
					"Folder": {
						"type": "string"
					},
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Folder",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().Container",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_blobstorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_GetFiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container": {
						"type": "string"
					},
					"Folder": {
						"type": "string"
					},
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Folder",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().Container",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\"",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_GetMetaData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_blobstorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container": {
						"type": "string"
					},
					"Folder": {
						"type": "string"
					},
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Folder",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().Container",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_blobstorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SourceFiletoStg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_blobstorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container": {
						"type": "string"
					},
					"Folder": {
						"type": "string"
					},
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Folder",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().Container",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\"",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_blobstorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQLServer')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_SQLServer_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQLServer_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQLServer_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQLServer_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SeilfHostedIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SeilfHostedIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_LookFilesLoadedOrNot')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQLServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "ETL",
					"table": "FileData"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQLServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SyncFileToStg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQLServer",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schema": {
						"type": "string"
					},
					"TableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQLServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ChubDailyLoad')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata Files",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_GetFiles",
								"type": "DatasetReference",
								"parameters": {
									"Container": {
										"value": "@pipeline().parameters.Container",
										"type": "Expression"
									},
									"Folder": {
										"value": "@pipeline().parameters.Folder",
										"type": "Expression"
									},
									"FileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "File Available Or Not",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Metadata Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(length(activity('Get Metadata Files').output.childItems), 0)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Wait For Sometime to Proceed",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 5
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Wait For Sometime",
									"type": "Wait",
									"dependsOn": [
										{
											"activity": "No Files Send Email",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 5
									}
								},
								{
									"name": "No Files Send Email",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "POST",
										"headers": {},
										"url": "https://prod-13.centralindia.logic.azure.com:443/workflows/585813d80b06425aa07b07ca8815d00e/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=bMraAaMH_qBoTYwmDEvGNpq5Z4fBQTPf2Aq8vbLDwdY",
										"body": {
											"subject": "No Files Found in ADLS",
											"message": "No files were found in the source folder on @{utcNow()}."
										}
									}
								},
								{
									"name": "Fails Not Available So Job Fails",
									"type": "Fail",
									"dependsOn": [
										{
											"activity": "Wait For Sometime",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"message": "Fails Not Available So Job Fails",
										"errorCode": "Files Not There"
									}
								}
							]
						}
					},
					{
						"name": "Files Not Available",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Get Metadata Files",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-13.centralindia.logic.azure.com:443/workflows/585813d80b06425aa07b07ca8815d00e/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=bMraAaMH_qBoTYwmDEvGNpq5Z4fBQTPf2Aq8vbLDwdY",
							"body": {
								"subject": "No Files Found in ADLS",
								"message": "No files were found in the source folder on @{utcNow()}."
							}
						}
					},
					{
						"name": "Load Each File to Stg",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "File Available Or Not",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata Files').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Check Files Already Loaded Or Not",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "SELECT COUNT(*) AS FileCount \nFROM [ETL].[FileData]\nWHERE FileName = '@{item().name}'\n",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_LookFilesLoadedOrNot",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "FileLoadedOrNot",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Check Files Already Loaded Or Not",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(activity('Check Files Already Loaded Or Not').output.firstRow.FileCount, 1)",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Copy file data into stg table",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Update FileLog",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "SqlServerSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_SourceFiletoStg",
														"type": "DatasetReference",
														"parameters": {
															"Container": {
																"value": "@pipeline().parameters.Container",
																"type": "Expression"
															},
															"Folder": {
																"value": "@pipeline().parameters.Folder",
																"type": "Expression"
															},
															"FileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_SyncFileToStg",
														"type": "DatasetReference",
														"parameters": {
															"schema": {
																"value": "@pipeline().parameters.STagingSchemaName",
																"type": "Expression"
															},
															"TableName": {
																"value": "@concat(\n    'STG_',\n    split(\n        substring(item().name, 0, lastIndexOf(item().name, '_')),\n        '_'\n    )[0]\n)\n",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Truncate Stg Files",
												"type": "Script",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "LS_SQLServer",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": "Truncate Table STG.STG_Customers;\nTruncate Table STG.STG_Orders;\nTruncate Table STG.STG_Payments;\nTruncate Table STG.STG_Sales;"
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											},
											{
												"name": "Update FileLog",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Truncate Stg Files",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[ETL].[SP_InsertFileTracking]",
													"storedProcedureParameters": {
														"FileName": {
															"value": {
																"value": "@{item().name}",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_SQLServer",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Update File Log",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Copy file data into stg table",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[ETL].[SP_UpdateFileTracking]",
													"storedProcedureParameters": {
														"FileName": {
															"value": {
																"value": "@{item().name}",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_SQLServer",
													"type": "LinkedServiceReference"
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "File Already Loaded",
												"type": "WebActivity",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"method": "POST",
													"headers": {},
													"url": "https://prod-13.centralindia.logic.azure.com:443/workflows/585813d80b06425aa07b07ca8815d00e/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=bMraAaMH_qBoTYwmDEvGNpq5Z4fBQTPf2Aq8vbLDwdY",
													"body": {
														"value": "{\n    \"subject\": \"ADF Notification: Pipeline Status\",\n    \"message\": \"@{concat('Hello Team, File ', item().name, ' Already Loaded successfully.')}\"\n}\n",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Job Fails files loaded",
												"type": "Fail",
												"dependsOn": [
													{
														"activity": "File Already Loaded",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"message": "Job Fails due to file already loaded",
													"errorCode": "File Already Loaded"
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "LoadFileDatatoStgTables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Load Each File to Stg",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ETL].[SP_LoadStgFiles]"
						},
						"linkedServiceName": {
							"referenceName": "LS_SQLServer",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "LoadDataIntoTargetTable",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "LoadFileDatatoStgTables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ETL].[SP_Load_CHFINALDATA]"
						},
						"linkedServiceName": {
							"referenceName": "LS_SQLServer",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Job Run Successfully",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "LoadDataIntoTargetTable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-13.centralindia.logic.azure.com:443/workflows/585813d80b06425aa07b07ca8815d00e/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=bMraAaMH_qBoTYwmDEvGNpq5Z4fBQTPf2Aq8vbLDwdY",
							"body": {
								"subject": "Job Success: Data Loaded",
								"message": "Job successful and Files Data copied to target Table at @{utcnow()}."
							}
						}
					},
					{
						"name": "Job Fails",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "LoadDataIntoTargetTable",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-13.centralindia.logic.azure.com:443/workflows/585813d80b06425aa07b07ca8815d00e/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=bMraAaMH_qBoTYwmDEvGNpq5Z4fBQTPf2Aq8vbLDwdY",
							"body": {
								"subject": "ADF Fail: Job Fails",
								"message": "Job Failed  at @{utcnow()}."
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Container": {
						"type": "string",
						"defaultValue": "containerfiles"
					},
					"Folder": {
						"type": "string",
						"defaultValue": "inputsource/files"
					},
					"FileName": {
						"type": "string",
						"defaultValue": "*.csv"
					},
					"STagingSchemaName": {
						"type": "string",
						"defaultValue": "STG"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_GetFiles')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_SQLServer')]",
				"[concat(variables('factoryId'), '/datasets/DS_LookFilesLoadedOrNot')]",
				"[concat(variables('factoryId'), '/datasets/DS_SourceFiletoStg')]",
				"[concat(variables('factoryId'), '/datasets/DS_SyncFileToStg')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DailyJob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DS_Get Metadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_GetMetaData",
								"type": "DatasetReference",
								"parameters": {
									"Container": {
										"value": "@pipeline().parameters.Container",
										"type": "Expression"
									},
									"Folder": {
										"value": "@pipeline().parameters.Folder",
										"type": "Expression"
									},
									"FileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "Load Each File to Stg",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "File Available",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('DS_Get Metadata').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data from file to stg",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Truncate Stg Tables",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "SqlServerSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_SourceFiletoStg",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@pipeline().parameters.Container",
													"type": "Expression"
												},
												"Folder": {
													"value": "@pipeline().parameters.Folder",
													"type": "Expression"
												},
												"FileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_SyncFileToStg",
											"type": "DatasetReference",
											"parameters": {
												"schema": {
													"value": "@pipeline().parameters.SchemaName",
													"type": "Expression"
												},
												"TableName": {
													"value": "@concat(\n    'STG_',\n    split(\n        substring(item().name, 0, lastIndexOf(item().name, '_')),\n        '_'\n    )[0]\n)\n",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Truncate Stg Tables",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "AddFileLog",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "LS_SQLServer",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": "TRUNCATE TABLE STG.STG_CUSTOMERS;\nTRUNCATE TABLE  STG.STG_ORDERS;\nTRUNCATE TABLE  STG.STG_PAYMENTS;\nTRUNCATE TABLE  STG.STG_SALES;\n"
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								},
								{
									"name": "DeleteFilesAfterLoad",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy data from file to stg",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DS_DeleteSourceFiles",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@pipeline().parameters.Container",
													"type": "Expression"
												},
												"Folder": {
													"value": "@pipeline().parameters.Folder",
													"type": "Expression"
												},
												"FileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"logStorageSettings": {
											"linkedServiceName": {
												"referenceName": "LS_blobstorage",
												"type": "LinkedServiceReference"
											}
										},
										"enableLogging": true,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								},
								{
									"name": "AddFileLog",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "If File Loaded Already",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ETL].[SP_InsertFileTracking]",
										"storedProcedureParameters": {
											"FileName": {
												"value": {
													"value": "@{item().name}",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_SQLServer",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "UpdateFileLog",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "DeleteFilesAfterLoad",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ETL].[SP_UpdateFileTracking]",
										"storedProcedureParameters": {
											"FileName": {
												"value": {
													"value": "@{item().name}",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_SQLServer",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "LookupFileLoadedOrNot",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "SELECT LoadStatus \nFROM ETL.FileData \nWHERE FileName = '@{item().name}'\n",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_LookFilesLoadedOrNot",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "If File Loaded Already",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "LookupFileLoadedOrNot",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(activity('LookupFileLoadedOrNot').output.firstRow.CNT,0)\n",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Wait2",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 1
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "FIleAlreadyLoaded",
												"type": "WebActivity",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"method": "POST",
													"headers": {
														"Content-Type": "Content-Type"
													},
													"url": "https://prod-25.centralindia.logic.azure.com:443/workflows/4cdf985ed6954266aaa419e4b1fc0186/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=2O-gu8Ja18dlKHRE5PKwuW4PedQlu6g7src-S-bc9zk",
													"body": {
														"Case": "DuplicateFile",
														"FileName": "@{activity('LookupFileLoadedOrNot').output.firstRow.FileName}",
														"PipelineName": "@{pipeline().Pipeline}",
														"Time": "@{utcNow()}"
													}
												}
											},
											{
												"name": "FileLoadedAlready",
												"type": "Fail",
												"dependsOn": [
													{
														"activity": "FIleAlreadyLoaded",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"message": "FilesAlreadyLoaded",
													"errorCode": "DuplicateFiles"
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "LoadFileDatatoStgTables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Load Each File to Stg",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ETL].[SP_LoadStgFiles]"
						},
						"linkedServiceName": {
							"referenceName": "LS_SQLServer",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "LoadDataIntoTargetTable",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "LoadFileDatatoStgTables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ETL].[SP_Load_CHFINALDATA]"
						},
						"linkedServiceName": {
							"referenceName": "LS_SQLServer",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PilineLog",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "LoadDataIntoTargetTable",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ETL].[SP_InsertPipelineLog]",
							"storedProcedureParameters": {
								"ActivityName": {
									"value": {
										"value": "@activity('Copy data from file to stg').name",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorMessage": {
									"value": {
										"value": "@activity('Copy data from file to stg').error.message",
										"type": "Expression"
									},
									"type": "String"
								},
								"FileName": {
									"value": {
										"value": "@activity('Copy data from file to stg').output",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "'Failed'",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_SQLServer",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "File Available",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "DS_Get Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(length(activity('DS_Get Metadata').output.childItems),0)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "FilesNotAvailable",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "POST",
										"headers": {},
										"url": "https://prod-25.centralindia.logic.azure.com:443/workflows/4cdf985ed6954266aaa419e4b1fc0186/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=2O-gu8Ja18dlKHRE5PKwuW4PedQlu6g7src-S-bc9zk",
										"body": {
											"EmailType": "NoFile",
											"PipelineName": "@{pipeline().Pipeline}",
											"ActivityName": "GetMetadata",
											"FileName": "N/A",
											"ErrorMessage": "No files available in source folder on @{utcNow()}"
										}
									}
								},
								{
									"name": "Fail Activity",
									"type": "Fail",
									"dependsOn": [
										{
											"activity": "FilesNotAvailable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"message": "\"Source file not found\"",
										"errorCode": "\"1001\""
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Casual Wait",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 5
									}
								}
							]
						}
					},
					{
						"name": "File Loaded Successfully",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "LoadDataIntoTargetTable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://prod-25.centralindia.logic.azure.com:443/workflows/4cdf985ed6954266aaa419e4b1fc0186/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=2O-gu8Ja18dlKHRE5PKwuW4PedQlu6g7src-S-bc9zk",
							"body": {
								"Case": "Success",
								"PipelineName": "@{pipeline().Pipeline}",
								"Time": "@{utcNow()}"
							}
						}
					},
					{
						"name": "Failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "LoadDataIntoTargetTable",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://prod-25.centralindia.logic.azure.com:443/workflows/4cdf985ed6954266aaa419e4b1fc0186/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=2O-gu8Ja18dlKHRE5PKwuW4PedQlu6g7src-S-bc9zk",
							"body": {
								"Case": "Failure",
								"PipelineName": "@{pipeline().Pipeline}",
								"ActivityName": "@{activity('YourActivityName').error.activity}",
								"ErrorMessage": "@{activity('YourActivityName').error.message}",
								"Time": "@{utcNow()}"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Container": {
						"type": "string",
						"defaultValue": "containerfiles"
					},
					"Folder": {
						"type": "string",
						"defaultValue": "inputsource/files"
					},
					"FileName": {
						"type": "string",
						"defaultValue": "*.csv"
					},
					"SchemaName": {
						"type": "string",
						"defaultValue": "STG"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_GetMetaData')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_SQLServer')]",
				"[concat(variables('factoryId'), '/datasets/DS_SourceFiletoStg')]",
				"[concat(variables('factoryId'), '/datasets/DS_SyncFileToStg')]",
				"[concat(variables('factoryId'), '/datasets/DS_DeleteSourceFiles')]",
				"[concat(variables('factoryId'), '/datasets/DS_LookFilesLoadedOrNot')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_blobstorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily Job Chub')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ChubDailyLoad",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2025-11-19T16:15:00",
						"endTime": "2025-11-30T10:39:00",
						"timeZone": "India Standard Time",
						"schedule": {}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ChubDailyLoad')]"
			]
		}
	]
}